[Unit]
Description=Absolute's distributed currency daemon
After=network.target

[Service]
User=absolutecore
Group=absolutecore

Type=forking
PIDFile=/var/lib/absoluted/absoluted.pid
ExecStart=/usr/bin/absoluted -daemon -pid=/var/lib/absoluted/absoluted.pid \
-conf=/etc/absolutecore/absolute.conf -datadir=/var/lib/absoluted -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
